<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback configuration -->
<!-- configuration debug = "true"면 LogBack 자체를 디버깅 -->
<configuration debug="true">
	<!-- Appender: 어디에, 어떤 로그를 기록할 것인지 설정 -->
	<!-- 로그 등급 : TRACE < DEBUG < INFO < WARN < ERROR < FATAL -->
	<appender name="consoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
			$d{HH:mm:ss.SSS} %thread %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
	</appender>
	
	<!-- File 기반 Appender: 로그를 파일로 기록 -->
	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>\log-myportal\myportal.log</file>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
			$d{HH:mm:ss.SSS} %thread %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
		<!-- 롤링을 수행할 정책 -->
		<rollingPolicy
			class="ch.qos.Logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>
			\log-my-portal\myportal.%1.log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<!-- 롤링이 수행될 상황 설정 -->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<!-- 작성한 로거가 사용될 패키지와 로그 레벨 지정 -->
	<logger name="com.bitacademy.myportal" level="DEBUG">
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<!-- TODO : 가장 적합한 롤링 정책을 수립한 후 로그 남기기 -->
	<!-- <root level="TRACE">
		<appender-ref ref="fileAppender" />
	</root> -->
</configuration>