<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.bitacademy.myportal">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- Oracle DataSource 등록 -->
	<bean id="oracleDatasource"
		class="oracle.jdbc.pool.OracleDataSource"
		destroy-method="close">
		<!-- DB 설정 -->
		<property name="URL"
			value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="user" value="C##WEBDB" />
		<property name="password" value="webdb" />
		<property name="connectionCachingEnabled" value="true" />
		<qualifier value="main-db" />		
	</bean>
	
	<!--  MyBatis SqlSessionFactoryBean에 연결 -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 데이터 소스 연결 -->
		<property name="dataSource" ref="oracleDatasource" />
		<property name="configLocation" value="classpath:mybatis/configuration.xml" />	
	</bean>
	
	<!-- MyBatis SqlSessionTemplate 연결 -->
	<bean id="sqlSession"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
		
</beans>